@import "variables";
@import "mixin";

title {
  color: #79c0ff !important;
  background-color: #111d2f !important;
  border-color: #214a81 !important;
}

.index-chart {
  height: $service-card-height;

  /* Animation */
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.service-tm-menu {
  position: absolute;
  height: 355px;
  width: 210px;
  background-color: #161b22d4;
  border: 0;
  border-radius: 0;
  bottom: 15px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.08);
  left: -25px;
}

.text-black-50 {
  color: $text-color !important;
}

.btn-xs {
  padding: 2px 6px;
  font-size: 8pt;
}

.table {
  color: $text-color !important;
}

.bg-white {
  background-color: #161b22;
}

.d-block {
  color: #c9ccd0;
}

// .row {
//   margin: 0;
// }

.form-group {
  margin-bottom: 1rem !important;
}

.dim {
  background-color: #f3f3f3;
}

div.row.stats_area.mb-5 {
  color: #79c0ff;
  background-color: #111d2f;
  padding: 0;
  border-top: #214a81;
  border-bottom: #214a81;
  margin-bottom: 10px;
}

.table thead th {
  border-top: 0;
  border-bottom: 0;
}

.table td,
.table th {
  padding: 0.75rem;
  border: 1px solid $minor-border !important;
  vertical-align: top;
}

h6.text-muted {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 0 !important;
}

.slider-info {
  font-weight: bold;
  font-size: 9pt;
}

.text-danger {
  color: $danger-color !important;
  background-color: $danger-color-background !important;
  border: 1px solid $danger-color-border !important;
}

@-o-keyframes fadeIt {
  0% {
    background-color: #f5f5f5;
  }

  50% {
    background-color: #f2f2f2;
  }

  100% {
    background-color: #f5f5f5;
  }
}

@keyframes fadeIt {
  0% {
    background-color: #f5f5f5;
  }

  50% {
    background-color: #f2f2f2;
  }

  100% {
    background-color: #f5f5f5;
  }
}

.backgroundAnimated {
  -o-animation: fadeit 1s ease-in-out;
  animation: fadeIt 1s ease-in-out;
  animation-iteration-count: infinite;
  background-image: none !important;
}

.loader {
  min-height: 35px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.sub-service-card {
  min-height: 70px;
  padding-top: 7px;
  padding-bottom: 10px;
  border: 1px solid #dcdcdc87;
}

.alert-dark {
  color: #79c0ff;
  background-color: #111d2f;
  border-color: #214a81;
}

.alert-info {
  color: #79c0ff;
  background-color: #111d2f !important;
  border-color: #214a81;
}

.alert-danger {
  color: #da3633;
  background-color: #36191c;
  border-color: #da3633;
}

.expanded-service {
  height: 550px;

  .stats_area {
    display: none;
  }
}

.service-chart {
  position: relative;
  bottom: -16px;
}

.chartmarker {
  width: 200px;
  padding: 0;
  text-align: left;

  & span {
    display: block;
    color: red;
    font-size: 8pt;
  }
}

.apexcharts-tooltip {
  box-shadow: none;
}

.dropup .dropdown-menu {
  background-color: maroon;
  border-radius: 8px 8px 8px 0;
}

.dropdown-item {
  color: white;
}

.divided {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 20px 0 20px;
  flex-grow: 1;
}

.daily-failures {
  position: absolute;
  height: 25px;
  width: 300px;
  padding-top: 3px;
  right: 100px;
  top: 10px;
}

.service_day {
  height: 20px;
  max-width: 30px;
  border-radius: 2px;
  margin-right: 2px;
  cursor: pointer;

  & span {
    display: flex;
    justify-content: center;
    color: blue;
    margin: auto;
    margin-top: 4px;
    font-size: 6pt;
  }
}

.service_scale {
  width: 60pt;
  margin-right: 12pt;
}

// .slide-fade-enter,
// .slide-fade-leave-to
//     /* .slide-fade-leave-active below version 2.1.8 */ {
//   transform: translateX(10px);
//   opacity: 0;
// }

.header-title {
  color: $title-color;
}

.header-desc {
  color: $description-color;
}

.btn {
  border: $card-border !important;
  border-radius: $global-border-radius;
}

.btn-group a {
  padding: 0.1rem 0.75rem;
  border: $card-border !important;
  border-radius: $global-border-radius;
  font-size: 0.8rem;
}

.online_list .badge {
  margin: 3px;
  box-shadow: $status-badge-shadow;
  font-size: 8pt;
}

.btn-sm {
  color: $white-color !important;
  background-color: $container-color;
  border: $card-border;
  font-size: 0.75rem;
  line-height: 1.3;
}

.view_service_btn {
  position: absolute;
  bottom: -40px;
  right: 40px;
}

.service_lower_info {
  position: absolute;
  color: #d1ffca;
  bottom: -40px;
  font-size: 0.85rem;
  left: 40px;
}

.lg_number {
  display: block;
  color: $service-stats-color;
  font-weight: bold;
  font-size: $service-stats-size;
}

.stats_area {
  line-height: 1.3;
  text-align: center;
}

.container {
  max-width: 100%;
  background-color: $container-color;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: $page-ud-margins !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  flex: 0 0 100%;
}

.lower_canvas {
  height: 3.4rem;
  width: 100%;
  padding: 15px 10px;
  margin-right: 0 !important;
  margin-left: 0 !important;

  & span {
    color: $service-description-color;
    font-size: 1rem;
  }
}

.font-0 {
  font-size: 0.35rem;
}

.font-1 {
  font-size: 0.8rem;
}

.font-2 {
  color: $primary-color !important;
  font-size: 0.8rem;
}

.font-3 {
  font-size: 1.1rem;
}

.font-4 {
  font-size: 1.7rem;
}

.font-5 {
  font-size: 2.3rem;
}

.font-6 {
  font-size: 2.8rem;
}

.font-7 {
  font-size: 3rem;
}

.font-8 {
  font-size: 3.5rem;
}

.incident {
  color: #e3b341 !important;
  background-color: #0d1117 !important;
  border: $card-border !important;

  &:hover {
    color: $white-color !important;
    background-color: #e3b341 !important;
    border: $card-border !important;
  }
}

.checkins {
  color: $success-color !important;
  background-color: #0d1117 !important;
  border: $card-border !important;

  &:hover {
    color: $white-color !important;
    background-color: $success-color-hover !important;
    border: $card-border !important;
  }
}

.failures {
  color: $danger-color-text !important;
  background-color: #0d1117 !important;
  border: $card-border !important;

  &:hover {
    color: $white-color !important;
    background-color: $danger-color !important;
    border: $card-border !important;
  }
}

.subtitle {
  color: $subtitle-color;
}

.badge-secondary {
  color: #79c0ff !important;
  background-color: #111d2f !important;
  border-color: #214a81 !important;
}

.badge {
  color: $white-color;
}

.badge-light {
  color: $success-color !important;
  background-color: $midnight-color !important;
  border: 1px solid $success-color;
}

.badge-dark {
  color: $dark-blue;
  background-color: $midnight-color;
  border: 1px solid $dark-blue;
}

.badge-success {
  color: $success-color;
  background-color: $midnight-color;
  border: 1px solid $success-color;
  border-radius: $round-badge;
}

.badge-primary {
  color: $white-color;
  background-color: #007bff;
}

.btn-group {
  height: 25px;

  & a {
    padding: 0.1rem 0.75rem;
    font-size: 0.8rem;
  }
}

.no-decoration {
  color: $status-card-text !important;
  text-decoration: none;
}

.no-decoration:hover {
  color: $white-color !important;
  text-decoration: none;
}

.btn-white {
  color: #767676;
  background-color: #161b22;
  border: 1px solid #0d1117;
  border-radius: 6px;

  &:hover {
    color: $success-color;
    background-color: #0d1117;
    border: 1px solid #0d1117;
  }
}

.braker {
  display: block;
  width: 98%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.text-dim {
  color: #a0a0a0;
}

.json-field {
  font-size: 10pt;
}

.cm-bracketer {
  color: #a011c9;
  font-weight: bold;
}

.cm-var-highlight {
  color: teal;
  font-weight: bold;
}

.cm-var-sub-highlight {
  color: #b40727;
  font-weight: bold;
}

.chart-container {
  position: relative;
  height: 240px;
  width: 100%;
  overflow: hidden;
}

.service-chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

.service-chart-heatmap {
  position: relative;
  height: 180px;
  width: 100%;
}

.btn-primary {
  color: $white-color;
  background-color: $success-color;
  border-color: $success-color-hover;

  &:hover {
    color: $white-color !important;
    background-color: $success-color-hover !important;
    border: 1px solid $success-color;
  }
}

.btn-success {
  color: $white-color;
  background-color: $success-color;

  @include dynamic-color($success-color);
}

.btn-danger:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:disabled {
  color: $success-color;
  background-color: #30363d;
  border-color: #30363d;
}

.btn-danger {
  color: $danger-color-text !important;
  background-color: $container-color !important;
  border: $card-border;

  @include dynamic-color($danger-color);
}

.btn-light {
  color: $white-color !important;
  background-color: $container-color !important;
  border: $card-border;
}

.btn-danger:hover {
  color: $white-color !important;
  background-color: $danger-color !important;
}

.bg-success {
  color: #3fb950;
  background-color: #1a2b27 !important;
  border: 1px solid #3fb950;
}

.bg-danger {
  color: $danger-color-text;
  background-color: $danger-color-background !important;
  border: 1px solid $danger-color-border;
}

.btn-secondary {
  color: $white-color;
  background-color: $container-color;
  border: $card-border;
}

.bg-danger .dyn-dark {
  background-color: darken($danger-color, 10%) !important;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.animate-fader {
  -webkit-animation: fadeinout 1s infinite;
  -moz-animation: fadeinout 1s infinite;
  -o-animation: fadeinout 1s infinite;
  animation: fadeInOut 1s infinite;
}

.sortable_drag {
  background-color: #0000000f;
}

.switch_btn {
  display: block;
  margin: -1px 0 0 0;
  float: right;
}

#start_container {
  position: absolute;
  margin-top: 20px;
  z-index: 99999;
}

#end_container {
  position: absolute;
  margin-top: 20px;
  z-index: 99999;
  right: 0;
}

.pointer {
  cursor: pointer;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.toggle-service {
  margin: 2px 3px 0 0;
  cursor: pointer;
  float: left;
  font-size: 18pt;
}

/* Enter and leave animations can use different */

.slide-fade-enter-active {
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.navbar-brand {
  color: $primary_color;
}
