// div.row.stats_area.mb-5 {
// }

div.col-12.mt-4.mt-md-3 {
  padding: 0;
}

div.dashboard_card.card.mb-4.offline-card.card-body {
  padding: 0;
}

div.col-12.text-danger.font-2.m-0.mb-2 {
  margin: -15px !important;
}

div.col-12.font-2.m-0.mb-2 {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}
