div.col-md-6.col-sm-12.pl-2.mt-2.mt-md-0.mb-3 {
  display: none !important;
}

div.col-md-6.col-sm-12.pl-0.mt-4.mt-md-0.mb-3 {
  display: none !important;
}

// div.mb-md-4.mb-4 {
//   display: none !important;
// }

// div.footer.text-center.mb-4.p-2 {
//   display: none;
// }

div.mb-3 {
  display: none;
}
