@import "variables";
@import "mixin";

html,
body {
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $text-color;
}

.description {
  margin: 0;
}

.modal-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  left: 0;
  top: 0;
}

.modal {
  display: block;
  z-index: 999999 !important;
}

.modal-body {
  color: $text-color;
  background-color: $background-color;
  padding: 0.5rem 1rem;
  border: $card-border;
}

.modal-header {
  color: $navbar-color;
  background-color: $navbar-background;
  padding: 0.5rem 1rem;
}

.modal-footer {
  color: $text-color;
  background-color: $midnight-color;
  padding: 0.5rem 1rem;
  border: $card-border;
}

div.row.stats_area.mb-5 {
  padding: 15px;
}

div.col-12.full-col-12 {
  padding: 15px;
  padding-top: 0px;
}

.mt-3,
.my-3 {
  margin-top: 0 !important;
}

.mb-3,
.my-3 {
  margin-top: 0 !important;
}

.mb-5,
.my-5 {
  margin-bottom: 0 !important;
}

.mt-4,
.my-4 {
  margin-top: 0 !important;
}

.day-success {
  background-color: $day-success-background !important;
  box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.day-success:hover {
  background-color: lighten($day-success-background, 10%) !important;
}

.day-error {
  background-color: $day-error-background;

  &:hover {
    background-color: lighten($day-error-background, 2%) !important;
  }
}

.contain-card {
  .card-header {
    font-size: 1.15rem;
  }

  .dropdown-menu {
    background-color: rgba(239, 239, 239, 0.65);
  }
}

.navbar {
  color: $navbar-color;
  background-color: $navbar-background;
  margin-bottom: $page-ud-margins;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #79c0ff !important;
  background-color: #111d2f !important;
  border-color: #214a81 !important;
}

.table td {
  color: $text-color;
  border-top: 1px solid $navbar-background !important;
}

.nav-pills {
  border-radius: $global-border-radius;

  & a {
    border: $card-border !important;
  }
}

.nav-link {
  color: $white-color;
}

.form-control {
  border-radius: $global-border-radius;
}

.card {
  background-color: $background-color !important;
  border: $card-border;
}
.d-flex {
  padding-top: 3px;
}
.card-footer {
  background-color: $background-color;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  // z-index: 1;
  color: green;
  background-color: blue;
  text-decoration: none;
}
.list-group-item:hover {
  color: orange;
  background-color: darken($status-card-background, 2%) !important;
  border-color: lighten(#214a81, 20%) !important;
  box-shadow: $status-card-hover-shadow;
  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}

.list-group-item-action:active {
  color: orange;
  background-color: red;
}

.card-header {
  color: $text-color;
  background-color: $navbar-background;
}

.card-body {
  background-color: $background-color;
  overflow: hidden;
}

.card-title a {
  color: $service-title;
  text-decoration: none;
}

div.card.text-black-50.bg-white.mb-3 {
  display: none;
}

h1#title.col-12.text-center.pt-4.mt-4.mb-3.header-title.font-6 {
  color: $status-title-color;
  background-color: $status-title-background;
  padding: 0 !important;
  padding-top: $status-title-padding !important;
  border-top: $status-title-border;
  margin-top: $status-title-margin !important;
  margin-bottom: 0 !important;
}

h5#description.col-12.text-center.mb-5.header-desc.font-3 {
  color: $status-title-color;
  background-color: $status-title-background;
  padding-bottom: $status-title-padding;
  border-bottom: $status-title-border;
  margin-bottom: $status-title-margin !important;
}

h4.group_header.mb-3.mt-4 {
  color: $status-title-color;
  padding: 5px;
  border-bottom: $status-title-border;
  flex: 0 0 100%;
}

div.footer.text-center.mb-4.p-2 {
  display: none;
}

div.list-group.online_list.mb-4 {
  margin: 0 !important;
}

div.card.text-black-50.bg-white.mt-3.mb-3 {
  display: none;
}

div.card.text-black-50.bg-white.mt-3 {
  display: none;
}

.dashboard_card {
  background-color: $group-list-background;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 3px 1px;
}

.dashboard_card:hover {
  background-color: lighten($container-color, 20%) !important;
  border: 1px solid $white-color;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px 3px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.list-group-item {
  color: $text-color;
  background-color: $status-card-background;
  padding: $status-padding;
  border: $status-card-border;
  box-shadow: $status-card-shadow;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);

  &:first-child {
    border-top-left-radius: $card-roundness;
    border-top-right-radius: $card-roundness;
  }

  &:last-child {
    border-bottom-left-radius: $card-roundness;
    border-bottom-right-radius: $card-roundness;
  }
}

.mt-2,
.my-2 {
  margin-top: 5px !important;
}

.list-group-item-action {
  color: $primary-color;
}

.list-group-item a {
  color: $group-list-title;
}

.chart_list_tooltip {
  height: 30px;
  font-size: 6pt;
}

.login_container {
  background-color: $container-color;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.footer {
  padding: 0;
  margin: 0;
  text-decoration: none;

  .links {
    color: $footer-text-color;
    text-decoration: none;
  }

  .statping {
    color: lighten($footer-text-color, 10%);
    text-decoration: none;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pl-2,
.px-2 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 20px;
}

.mb-2,
.my-2 {
  margin-bottom: 0 !important;
}

div.mb-md-4.mb-4 {
  display: none !important;
}

.dates {
  color: darken($card-background, 45%);
  font-weight: 600;
  padding: 10px 0;
  margin: 10px 20px;
  font-size: 22px;
  overflow: auto;

  & div {
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
  }

  & strong {
    display: block;
    color: darken($card-background, 20%);
    font-weight: 700;
    font-size: 20px;
  }

  & span {
    position: absolute;
    height: 60px;
    width: 1px;
    background: darken($card-background, 10%);
    right: 0;
    top: 0;
  }
}
