@import "variables";
@import "mixin";

html,
body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $text-color;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1040;
}

.modal {
  display: block;
  z-index: 999999 !important;
}

.modal-body {
  background-color: $background-color;
  border: $card-border;
  color: $text-color;
  padding: 0.5rem 1rem;
}

.modal-header {
  background-color: $navbar-background;
  color: $navbar-color;
  padding: 0.5rem 1rem;
}

.modal-footer {
  background-color: $midnight-color;
  border: $card-border;
  color: $text-color;
  padding: 0.5rem 1rem;
}

.text-muted {
  color: lighten($text-color, 30%) !important;
}

.day-success {
  background-color: #044289;

  &:hover {
    background-color: lighten(#044289, 2%) !important;
  }
}

.day-error {
  background-color: $day-error-background;

  &:hover {
    background-color: lighten($day-error-background, 2%) !important;
  }
}

.contain-card {
  .card-header {
    font-size: 1.15rem;
  }

  .dropdown-menu {
    background-color: rgba(239, 239, 239, 0.65);
  }
}

.navbar {
  background-color: $navbar-background;
  color: $navbar-color;
  margin-bottom: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #111d2f !important;
  border-color: #214a81 !important;
  color: #79c0ff !important;
}

.table td {
  border-top: 1px solid $navbar-background !important;
  color: $text-color;
}

.nav-pills {
  border-radius: $global-border-radius;

  & a {
    border: $card-border !important;
  }
}

.nav-link {
  color: $white-color;
}

.form-control {
  border-radius: $global-border-radius;
}
div.col-md-3.col-sm-12.mb-4.mb-md-0 {
  border: 0 !important;
  border-radius: 0 !important;
}

.card {
  background-color: $background-color !important;
  border: $card-border;
}

.card-footer {
  background-color: $background-color;
}

.card-header {
  background-color: $navbar-background;
  color: $text-color;
}

.card-body {
  background-color: $background-color;
  overflow: hidden;
  padding-bottom: 0 !important;
  & h4 a {
    color: $service-title;
    text-decoration: none;
  }
}

.card-title a {
  color: $service-title;
  text-decoration: none;
}

.dashboard_card {
  background-color: $group-list-background;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 3px 1px;

  &:hover {
    background-color: lighten($container-color, 20%) !important;
    border: 1px solid $white-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px 3px;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
  }
}

.list-group-item-old {
  background-color: #090d13;
  border: 1px solid rgba(76, 76, 76, 0.12);
  min-height: 85pt;
}

.list-group-item {
  background-color: #090d13;
  border: $card-border;
  min-height: 85pt;

  &:hover {
    background-color: darken($container-color, 2%) !important;
    border-color: darken(#21262d, 2%) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px 1px;
    color: $text-color;
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
  }
}

.list-group-item-action {
  color: $primary-color;
}

.list-group-item a {
  color: $group-list-title;
}

.chart_list_tooltip {
  height: 30px;
  font-size: 6pt;
}

.container {
  background-color: $container-color;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  max-width: $max-width;
  padding-bottom: 25px;
  padding-top: 20px;
}

.login_container {
  background-color: $container-color;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.footer {
  text-decoration: none;

  & .links {
    color: $footer-text-color;
    text-decoration: none;

    &:hover {
      color: #8c8c8c;
    }
  }

  & .statping {
    color: lighten($footer-text-color, 10%);
    text-decoration: none;

    &:hover {
      color: lighten($footer-text-color, 0%);
      text-decoration: none;
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dates {
  color: darken($card-background, 45%);
  font-size: 22px;
  font-weight: 600;
  margin: 10px 20px;
  overflow: auto;
  padding: 10px 0;

  & div {
    float: left;
    position: relative;
    text-align: center;
    width: 50%;
  }

  & strong {
    color: darken($card-background, 20%);
    display: block;
    font-size: 20px;
    font-weight: 700;
  }

  & span {
    background: darken($card-background, 10%);
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
}
