@import "variables";
@import "mixin";

html,
body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $text-color;
}

.description {
  margin: 0;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1040;
}

.modal {
  display: block;
  z-index: 999999 !important;
}

.modal-body {
  background-color: $background-color;
  border: $card-border;
  color: $text-color;
  padding: 0.5rem 1rem;
}

.modal-header {
  background-color: $navbar-background;
  color: $navbar-color;
  padding: 0.5rem 1rem;
}

.modal-footer {
  background-color: $midnight-color;
  border: $card-border;
  color: $text-color;
  padding: 0.5rem 1rem;
}

div.row.stats_area.mb-5 {
  padding: 15px;
}

.text-muted {
  color: lighten($text-color, 30%) !important;
}

.mt-3,
.my-3 {
  margin-top: 0 !important;
}

.mb-3,
.my-3 {
  margin-top: 0 !important;
}

.mb-5,
.my-5 {
  margin-bottom: 0 !important;
}

.mt-4,
.my-4 {
  margin-top: 0 !important;
}

.day-success {
  background-color: $input-color !important;
}

.day-success:hover {
  background-color: lighten($input-color, 2%) !important;
}

.day-error {
  background-color: $day-error-background;

  &:hover {
    background-color: lighten($day-error-background, 2%) !important;
  }
}

.contain-card {
  .card-header {
    font-size: 1.15rem;
  }

  .dropdown-menu {
    background-color: rgba(239, 239, 239, 0.65);
  }
}

.navbar {
  background-color: $navbar-background;
  color: $navbar-color;
  margin-bottom: $page-ud-margins;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #111d2f !important;
  border-color: #214a81 !important;
  color: #79c0ff !important;
}

.table td {
  border-top: 1px solid $navbar-background !important;
  color: $text-color;
}

.nav-pills {
  border-radius: $global-border-radius;

  & a {
    border: $card-border !important;
  }
}

.nav-link {
  color: $white-color;
}

.form-control {
  border-radius: $global-border-radius;
}

div.col-md-3.col-sm-12.mb-4.mb-md-0 {
  border: 0 !important;
  border-radius: 0 !important;
}

div.col-12.no-select {
  padding: 0;
}

.card {
  background-color: $background-color !important;
  border: $card-border;
}
.d-flex {
  padding-top: 3px;
}
.card-footer {
  background-color: $background-color;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  z-index: 1;
  color: green;
  text-decoration: none;
  background-color: blue;
}
.list-group-item:hover {
  background-color: #090c10;
  border: 1px solid #21262d;
  border-color: #1d2127 !important;
  box-shadow: rgba(179, 61, 61, 0.521) 0 4px 6px 1px;
  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}
.list-group-item-action:active {
  color: orange;
  background-color: red;
}

.card-header {
  background-color: $navbar-background;
  color: $text-color;
}

.card-body {
  background-color: $background-color;
  overflow: hidden;
}

.card-title a {
  color: $service-title;
  text-decoration: none;
}

div.card.text-black-50.bg-white.mb-3 {
  display: none;
}

div.card.text-black-50.bg-white.mt-3.mb-3 {
  display: none;
}

div.card.text-black-50.bg-white.mt-3 {
  display: none;
}

div.col-md-6.col-sm-12.pl-2.mt-2.mt-md-0.mb-3 {
  flex: 0 0 100%;
  max-width: 100%;
}

.dashboard_card {
  background-color: $group-list-background;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 3px 1px;
}

.dashboard_card:hover {
  background-color: lighten($container-color, 20%) !important;
  border: 1px solid $white-color;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px 3px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.list-group-item {
  background-color: $status-card-background;
  border: $status-card-border;
  box-shadow: $status-card-shadow;
  color: $text-color;
  padding: $status-padding;
  text-shadow: 1px 1px 1px black;

  &:first-child {
    border-top-left-radius: $card-roundness;
    border-top-right-radius: $card-roundness;
  }

  &:last-child {
    border-bottom-left-radius: $card-roundness;
    border-bottom-right-radius: $card-roundness;
  }
}

.mt-2,
.my-2 {
  margin-top: 5px !important;
}

.list-group-item:hover {
  background-color: lighten($container-color, 2%);
  border-color: lighten($status-card-border, 2%) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px 1px;

  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}

.list-group-item-action {
  color: $primary-color;
}

.list-group-item a {
  color: $group-list-title;
}

.chart_list_tooltip {
  font-size: 6pt;
  height: 30px;
}

.login_container {
  background-color: $container-color;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.footer {
  margin: 0;
  padding: 0;
  text-decoration: none;

  .links {
    color: $footer-text-color;
    text-decoration: none;
  }

  .statping {
    color: lighten($footer-text-color, 10%);
    text-decoration: none;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pl-2,
.px-2 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 20px;
}

.mb-2,
.my-2 {
  margin-bottom: 0 !important;
}

div.mb-md-4.mb-4 {
  display: none !important;
}

.dates {
  color: darken($card-background, 45%);
  font-size: 22px;
  font-weight: 600;
  margin: 10px 20px;
  overflow: auto;
  padding: 10px 0;

  & div {
    float: left;
    position: relative;
    text-align: center;
    width: 50%;
  }

  & strong {
    color: darken($card-background, 20%);
    display: block;
    font-size: 20px;
    font-weight: 700;
  }

  & span {
    background: darken($card-background, 10%);
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
}
