@import "variables";

@media (max-width: 767px) {
  .card {
    padding: $sm-padding;
    background-color: $sm-service-background;
    border: 0;
    border-radius: 24px;
    box-shadow: $mobile-card-shadow;
  }
  .tr {
    color: red;
  }
  .mb-4,
  .my-4 {
    margin-bottom: 0 !important;
    border-bottom: 1px solid white;
  }
  .card-footer {
    background-color: #161b22;
  }
  .list-group-item {
    min-height: 0 !important;
  }
  .card-header {
    color: $primary_color;
    background-color: $container-color;
    border-bottom: $card-border;
  }
  .card-body {
    padding: 10px 10px;
    font-size: 10pt;
  }
  div.col-12.font-2.m-0.mb-2 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .test {
    margin: 5px;
    color: orange;
  }
  div.col-12 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;

    &.no-select {
      height: 0 !important;
      font-size: 0px !important;

      line-height: 0 !important;
    }
  }
  html,
  body {
    background-color: $sm-background-color;
  }

  .service-tm-menu {
    height: 300px;

    & a {
      height: 27px;
    }
  }

  .table td,
  .table th {
    border-top: 1px solid #090d13;
  }

  .index-chart {
    height: 380px;
  }
  .footer {
    margin: 0;
    padding: 0;
  }

  .online_list {
    box-shadow: $mobile-card-shadow;
  }

  .expanded-service {
    height: 810px;
  }

  .sm-container {
    margin-top: 0 !important;
    padding: 0 !important;
  }

  .lower_canvas {
    height: 4rem;
    margin-top: -1px;
  }

  .list-group-item h5 {
    font-size: 0.9rem;
  }

  .container {
    padding: 0 !important;
    padding-top: 0 !important;
  }

  .group_header {
    margin-left: 15px;
  }

  .navbar-item {
    border-bottom: 1px solid #eaeaea;
  }
  .nav-link {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0;
    color: $white-color;
    border: 1px solid $card-border;

    &.router-link-exact-active.router-link-active {
      color: #79c0ff !important;
      background-color: #111d2f !important;
      border-color: #214a81 !important;
    }
  }

  .navbar {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0;
  }

  .navbar-collapse {
    color: $navbar-color !important;
    background-color: $navbar-background !important;
    border-color: $card-border !important;
  }

  .navbar-toggler {
    border: $card-border !important;
  }

  .btn-sm {
    font-size: 0.75rem;
    line-height: 1.3;
  }

  .badge {
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .switch label {
    font-size: 10pt;
  }

  .full-col-12 {
    padding-right: 0;
    padding-left: 0;
  }

  .lg_number {
    font-size: 7vw;
  }

  .stats_area {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;

    & .col-4 {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .list-group-item {
    border: 0 !important;

    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    & p {
      font-size: 0.7rem;
    }
  }
  .service-chart-container {
    height: 200px;
  }

  .font-0 {
    font-size: 0.35rem;
  }

  .font-1 {
    font-size: 0.65rem;
  }

  .font-2 {
    font-size: 0;
  }

  .font-3 {
    font-size: 1rem;
  }

  .font-4 {
    font-size: 1.2rem;
  }

  .font-5 {
    font-size: 1.5rem;
  }

  .font-6 {
    font-size: 1.9rem;
  }

  .font-7 {
    font-size: 2.2rem;
  }

  .font-8 {
    font-size: 2.5rem;
  }
}
