@import "variables";

// @media (min-width: 992px) {
//   div.col-12.full-col-12 {
//     display: flex;
//     flex-wrap: wrap;
//   }
//   .list-group {
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
// }

@media (max-width: 575.98px) {
  div.d-flex.mt-3 {
    display: none !important;
  }
  .h4,
  h4 {
    font-size: 18px;
  }
  .list-group-item {
    padding: 0.25rem 0.5rem;
  }
}

@media (max-width: 767px) {
  .card {
    padding: $sm-padding;
    background-color: $status-background;
    border: 0;
    border-radius: 24px;
    box-shadow: $mobile-card-shadow;
  }

  .tr {
    color: red;
  }

  .card-footer {
    background-color: #161b22;
  }

  .card-header {
    color: $white_color;
    background-color: $container-color;
    border-bottom: $card-border;
  }

  .card-body {
    padding: 10px 10px;
    font-size: 10pt;
  }

  .mb-4,
  .my-4 {
    margin-bottom: 0 !important;
  }

  .test {
    margin: 5px;
    color: orange;
  }

  div.col-12 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;

    &.no-select {
      height: 0 !important;
      font-size: 0 !important;
      line-height: 0 !important;
    }
  }

  html,
  body {
    background-color: $sm-background-color;
  }

  .service-tm-menu {
    height: 300px;

    & a {
      height: 27px;
    }
  }

  .table td,
  .table th {
    border-top: 1px solid #090d13;
  }

  .index-chart {
    height: 380px;
  }

  .footer {
    margin: 0;
    padding: 0;
  }
  .d-flex {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .online_list {
    box-shadow: $mobile-card-shadow;
  }

  .expanded-service {
    height: 810px;
  }
  div.list-group.online_list.mb-4 {
    margin: 0 !important;
    padding: 3px;
  }
  .sm-container {
    margin-top: 0 !important;
    padding-bottom: 1rem !important;
    background-color: $status-background;
  }

  .lower_canvas {
    height: 4rem;
    margin-top: -1px;
  }

  .list-group-item h5 {
    font-size: 0.9rem;
  }

  // .container {
  //   padding: 0 !important;
  //   padding-top: 0 !important;
  // }

  .navbar-item {
    border-bottom: 1px solid #eaeaea;
  }

  .nav-link {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0;
    color: $white-color;
    border: $card-border;
  }

  .nav-link.router-link-exact-active.router-link-active {
    color: #79c0ff !important;
    background-color: #111d2f !important;
    border-color: #214a81 !important;
  }

  .navbar {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0;
  }

  .navbar-collapse {
    color: $navbar-color !important;
    background-color: $navbar-background !important;
    border-color: $card-border !important;
  }

  .navbar-toggler {
    border: $card-border !important;
  }

  .btn-sm {
    font-size: 0.75rem;
    line-height: 1.3;
  }

  .switch label {
    font-size: 10pt;
  }

  .full-col-12 {
    padding-right: 0;
    padding-left: 0;
  }

  .lg_number {
    font-size: 7vw;
  }

  .stats_area {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;

    & .col-4 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  div.row.mt-2 {
    display: none;
  }
  // h1#title.col-12.text-center.pt-4.mt-4.mb-3.header-title.font-6 {
  //   margin-top: $status-title-margin !important;
  //   padding-top: $status-title-padding !important;
  // }

  .list-group-item {
    padding: $mobile-status-padding;
    background-color: $status-card-background;
    border: $status-card-border;
    box-shadow: $status-card-shadow;

    &:first-child {
      border-top-left-radius: $mobile-card-roundness;
      border-top-right-radius: $mobile-card-roundness;
    }

    &:last-child {
      border-bottom-right-radius: $mobile-card-roundness;
      border-bottom-left-radius: $mobile-card-roundness;
    }

    & p {
      font-size: 0.7rem;
    }
  }

  h4.group_header.mb-3.mt-4 {
    margin-top: $status-group-padding !important;
    margin-bottom: $status-group-padding !important;
    padding: 3px;
    color: $status-title-color;
    text-shadow: 0 0 2px black;
    background-color: $status-title-background;
    border-top: $status-title-border;
    border-bottom: $status-title-border;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.15);
  }

  .service-chart-container {
    height: 200px;
  }

  .font-0 {
    font-size: 0.35rem;
  }

  .font-1 {
    font-size: 0.65rem;
  }

  .font-2 {
    font-size: 0.65rem;
  }

  .font-3 {
    font-size: 1rem;
  }

  .font-4 {
    font-size: 1.2rem;
  }

  .font-5 {
    font-size: 1.5rem;
  }

  .font-6 {
    font-size: 1.9rem;
  }

  .font-7 {
    font-size: 2.2rem;
  }

  .font-8 {
    font-size: 2.5rem;
  }
}
